p {
    font-size: 17px;
    font-weight: 300;
    text-align: justify;
}

p a {
    text-decoration: underline;
    color: #8ec0ef;
}

figcaption {
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
}

figcaption a {
    text-decoration: underline;
    color: #8ec0ef;
}

h4 {
    font-size: 20px;
}

h1 {
    font-size: 55px;
    text-align: center;
    text-decoration: none;
}

h2 {
    font-size: 44px;
    text-align: center;
    text-decoration: none;
}

a strong {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

article {
    padding-left: 20%;
    padding-right: 20%;
}

.stat_story_page_article p {
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

ul li a {
    text-decoration: underline;
    color: #8ec0ef;
}

aside {
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}